<form id="form-create" action="#" method="post">
<div id="crearModal" class="modal fade bd-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Creación de Concursos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Por favor ingrese los datos que se solicitan a continuación:</p>
                    <div class="col-md-12">
                        <div class="contact-form-area">

                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" placeholder="Nombre del concurso" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="fecha" name="fecha"
                                               placeholder="Fecha de Inicio - Finalización" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control text-lowercase" maxlength="30"
                                               id="url_evento" name="url_evento"
                                               placeholder="Url del Evento (30 caracteres máximo)" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <span id="url" class="form-control"> </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="valor" name="valor"
                                               placeholder="Valor a pagar" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="pic">Imagen del Concurso</label>
                                        <input type="file" id="imagen" name="imagen" accept="image/*"
                                               class="btn-group-sm" required>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="guion" class="form-control" id="guion" cols="30" rows="10"
                                                  placeholder="Guión" style="height: 60px;" required></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="recomendaciones" class="form-control" id="recomendaciones" cols="30" rows="10"
                                                  placeholder="Recomendaciones" style="height: 60px;" required></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="crearevento" type="submit" class="btn btn-primary">Crear Concurso</button>
                    <button id="cancelar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                </div>
            </div>
    </div>
</div>
</form>
<script src="javascripts/plugins/moment.min.js"><{{!}}/script>
<script src="javascripts/plugins/autoNumeric.min.js"><{{!}}/script>
<script src="javascripts/plugins/daterangepicker.min.js"><{{!}}/script>
<script src="javascripts/plugins/jquery.validate.min.js"><{{!}}/script>
<script src="javascripts/plugins/messages_es.min.js"><{{!}}/script>
<script src="javascripts/logic/creacion.js"><{{!}}/script>
