<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(images/bg-img/bg-2.jpg);">
    <div class="bradcumbContent">
        <p>Dashboard</p>
        <h2>Concursos</h2>
    </div>
</section>
<section class="elements-area mt-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">

                    <!-- Single Service Area -->
                    <div class="col-12 col-md-12">
                        <div class="single-service-area  flex-wrap mb-50">
                            <table id="concursos" class="display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Inicio</th>
                                    <th>Finalización</th>
                                    <th>Valor</th>
                                    <th>Url</th>
                                    <th>Uri</th>
                                </tr>
                                </thead>
                                <tbody style="cursor: pointer;">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="containerModal" class="row"></div>
</section>



