<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>{{title}}</title>
    <!-- Favicon -->
    <link rel="icon" href="https://d28j96u3s8nnmo.cloudfront.net/images/core-img/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://d28j96u3s8nnmo.cloudfront.net/stylesheets/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://d28j96u3s8nnmo.cloudfront.net/stylesheets/dataTables.bootstrap4.min.css">
    {{#if dashboard}}
        <link rel="stylesheet" href="https://d28j96u3s8nnmo.cloudfront.net/stylesheets/daterangepicker.css">
    {{/if}}
</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">

                            {{#if user.userinfo.sub}}
                                <ul>
                                    <li><a href="/">Inicio</a></li>
                                    <li><a href="dashboard">Concursos</a></li>
                                </ul>
                            {{/if}}

                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center">
                                <!-- Login/Register -->
                                {{#if user.userinfo.sub}}
                                    <div class="login-register-btn mr-50">
                                        <a href="/users/logout" id="loginBtn"><span
                                                class="icon-user-3"></span> {{user.userinfo.given_name}} (Salir)</a>
                                    </div>
                                {{else}}
                                    <div class="login-register-btn mr-50">
                                        <a href="/login" id="loginBtn"><span class="icon-padlock"></span> Ingreso /
                                            Registro</a>
                                    </div>
                                {{/if}}

                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
{{{body}}}
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <p class="copywrite-text"><a href="#">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                        aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

            <div class="col-12 col-md-6">
                <div class="footer-nav">
                    {{#if user.userinfo.sub}}
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="dashboard">Concursos</a></li>
                        </ul>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery-2.2.4 js -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Popper js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- All Plugins js -->
<script src="javascripts/plugins/plugins.js"></script>
<!-- Active javascripts -->
<script src="javascripts/active.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"> </script>
<script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"> </script>
<script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"> </script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"> </script>
<script src="javascripts/logic/dthome.js"> </script>

{{#if dashboard}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"><{{!}}/script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/localization/messages_es.js"><{{!}}/script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"><{{!}}/script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.1.0/autoNumeric.min.js"><{{!}}/script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.min.js"><{{!}}/script>
    <script src="javascripts/logic/dashboard.js"> </script>
{{/if}}
</body>
</html>
